.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 350px;
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

.headerImage {
  width: 400px;
  height: 280px;
  object-fit: cover;
}

.cardBody {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardBody h4 {
  height: 62px;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardBody p {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
