.aboutContent {
  padding: 16px 0;
  margin: 48px 0 64px 0;
  padding-right: 40%;
}

.intro {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 600;
}

.introDetail {
  font-size: 16px;
  margin-top: 16px;
  line-height: 1.2;
}

.postsContent {
  border-left: 1px solid var(--header-border-color);
  padding-left: 4rem;
}

.date {
  font-size: 18px;
  line-height: 1.8;
  color: slategray;
}

.articleContainer {
  display: flex;
  margin-bottom: 4rem;
}

.articleBox {
  cursor: pointer;
  margin-left: 4rem;
  display: flex;
  width: 800px;
}
.articleBox:hover {
  transition: all 0.3s;
  animation: pulse 0.5s;
  background: var(--post-bg);
  box-shadow: var(--card-box-shadow);
}

.articleImage {
  width: 200px;
  height: 200px;
  margin-right: 16px;
  object-fit: cover;
}

.articleContent {
  display: flex;
  padding: 16px;
  flex-direction: column;
}

.articleTitle {
  font-size: 20px;
  font-weight: 600;
}

.articleDescription {
  color: slategray;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 16px;
}

@media screen and (max-width: 800px) {
  .aboutContent {
    padding-right: 0;
  }
  .postsContent {
    padding-left: 16px;
  }
  .articleBox {
    flex-direction: column;
    margin-left: 0;
    width: 100%;
  }
  .articleImage {
    width: 100%;
    height: 200px;
    margin-right: 0;
  }
  .date {
    font-size: 16px;
    min-width: 110px;
  }
}
