.aboutContent {
  padding: 16px 0;
  margin: 48px 0 64px 0;
  padding-right: 40%;
}

.intro {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 600;
}

.introDetail {
  font-size: 16px;
  margin-top: 16px;
  line-height: 1.2;
}

.recentPostsTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.findOutMore {
  font-size: 16px;
  color: #1890ff;
  cursor: pointer;
}
.recentPostsContent {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 48px;
}

@media screen and (max-width: 800px) {
  .aboutContent {
    padding-right: 0;
  }
  .recentPostsContent {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
  }
}