.header {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  min-height: 60px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 16px 128px 16px 16px;
  color: #2f2f2f;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
}

.menu {
  display: flex;
  gap: 64px;
}

.menuItem {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

@media screen and (max-width: 800px) {
  .header {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding-right: 16px;
  }
  .menu {
    margin-top: 16px;
    justify-content: center;
    gap: 32px;
  }
}