.footer {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 16px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.copyRight {
  margin-right: 16px;
}

.beian {
  cursor: pointer;
}

@media screen and (max-width: 800px){
  .footerContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}