.footer {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 16px;
  color: var(--header-font-color);
  background-color: var(--content-bg);
  border-top: 1px solid var(--header-border-color);
}

.copyRight {
  margin-right: 16px;
}

.beian {
  cursor: pointer;
}

@media screen and (max-width: 800px){
  .footerContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}